.todo-form {
    max-width: 700px;
    /* width: 650px; */
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.278);

   
}

.row{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    label{
        padding: 10px;
    }
   #title,#description{
    width: 80%;
   }
    label{
        display: flex;
        width: 20%;
        margin-right: 5px;
        min-width: 50px;
        font-size: 12px;
        overflow: hidden;
        border: 1px solid rgba(56, 56, 56, 0.482);

    }
}

input[type="date"]{
    width: 50%;
}



input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    margin-left: 30px;
    width: 20%;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
input{
    padding: 10px;
}
#submit{
    background: #007bff;
    border: none;
    width: 28%;
    color: white;
    outline: none;
    margin-left: 5px;
}

.dark{
    background-color: rgb(32, 31, 31);
    color: white;
}
.light{
    background-color: aliceblue;
    color: black;
}